<!-- <h2>Eventos</h2> -->

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2"></label>
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
        {{mostrarImagem ? 'Esconder':'Mostrar'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img *ngIf="mostrarImagem" src="/assets/{{evento.imagemUrl}}"
        [style.width.px]="widthImg" [style.margin.px]="marginImg"></td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td><button class="btn btn-danger">Editar</button>
        <button class="btn btn-primary">Salvar</button></td>
    </tr>
  </tbody>

  <tfoot>
    <tr *ngIf="!eventos.lenght">
      <td colspan="8">
        <h4>Nenhum evento marcado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<hr>

<!-- {{eventos | json}} -->



<!-- <p>{{eventos[0].Tema}}</p>
<p>{{eventos[0].Local}}</p>

<p>{{eventos[1].Tema}}</p>
<p>{{eventos[1].Local}}</p>

<p>{{eventos[2].Tema}}</p>
<p>{{eventos[2].Local}}</p> -->

<!-- <div *ngFor="let evento of eventos">
  <p>Tema: {{evento.tema}}</p>
  <p>Local: {{evento.local}}</p>
  <hr>
</div> -->
